@using Microsoft.AspNet.Identity;

@{
    ViewBag.Title = "Table de Honnor";
}
@*<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>*@

<!-- Documentation pour graphs: http://tenxer.github.io/xcharts/ -->
@Styles.Render("~/Content/graphcss")

<!---------------------------------------- Graph haut ---------------------------------------->
@if (Request.IsAuthenticated)
{
<h3 style="color:blue;">Progression personnelle</h3>

<div class="row" style="margin-bottom: 20px;">
    <div class="col-md-2">
        <select id="cboGameSpan" onchange="UpdateGraphs()">
            <option value="10">10 dernières parties</option>
            <option value="50">50 dernières parties</option>
            <option value="250">250 dernières parties</option>
        </select>
    </div>

    <div class="col-md-2">
        <select id="cboSize" onchange="UpdateGraphs()">
            <option value="-1">Toutes les tailles</option>
            <option value="0">Petit</option>
            <option value="1">Moyen</option>
            <option value="2">Grand</option>
        </select>
    </div>

    <div class="col-md-2">
        <select id="cboDifficulty" onchange="UpdateGraphs()">
            <option value="-1">Toutes les difficultées</option>
            <option value="0">Facile</option>
            <option value="1">Moyen</option>
            <option value="2">Difficile</option>
            <option value="3">Extrème</option>
        </select>
    </div>
</div>

<div class="row">
    <div id="personalScoresGraphDiv" class="col-md-9">
        <figure style="width: 800px; height: 300px;" id="personalScoresGraph"></figure>
    </div>
</div>
}

<!---------------------------------------- Top 5 tableau ---------------------------------------->
<h3 style="color:blue;">Top 5</h3>

<div class="row" style="margin: 20px 0px 20px 20px;">
    <table class="col-md-3">
        <tr>
            <td class="top5Username"></td>
            <td class="top5Score"></td>
        </tr>
        <tr>
            <td class="top5Username"></td>
            <td class="top5Score"></td>
        </tr>
        <tr>
            <td class="top5Username"></td>
            <td class="top5Score"></td>
        </tr>
        <tr>
            <td class="top5Username"></td>
            <td class="top5Score"></td>
        </tr>
        <tr>
            <td class="top5Username"></td>
            <td class="top5Score"></td>
        </tr>
    </table>
</div>

<!----------------------------------------- Graph bas ----------------------------------------->
<div class="row">
    <div id="top5GraphDiv" class="col-md-9">
        <figure style="width: 800px; height: 300px;" id="top5Graph"></figure>
    </div>
</div>

<!---------------------------------------- JS ---------------------------------------->

@Scripts.Render("~/bundles/xcharts")
<script type="text/javascript">
    UpdateGraphs = function () {
        var userID = '@Html.Encode(User.Identity.GetUserId())';

        if ( userID == "")
        {
            var gameSpan = 10;
            var size = -1;
            var difficulty = -1;
        }
        else{
            var gameSpan =   ById('cboGameSpan').options[ById('cboGameSpan').selectedIndex].value;
            var size =       ById('cboSize').options[ById('cboSize').selectedIndex].value;
            var difficulty = ById('cboDifficulty').options[ById('cboDifficulty').selectedIndex].value;
        }




        $.getJSON("../Home/GetProgression", { UserID: userID, GameSpan: gameSpan, Size: size, Difficulty: difficulty }, DrawPersonalScoresGraph);
        $.getJSON("../Home/GetTop5Scores", { Size: size, Difficulty: difficulty }, DrawTop5Graph);
        console.log(userID);
        console.log(gameSpan);
        console.log(size); console.log(difficulty);

    };

    DrawPersonalScoresGraph = function (scores) {
        var scoresData = [{ "x": 0, "y": 0 }];

        for (var i = 0; i < scores.length; i++) {
            scoresData[i] = {
                "x": (i + 1),
                "y": scores[i]
    }
    };

        var graphData = {
            "xScale": "ordinal",
            "yScale": "linear",
            "type": "line",
            "main": [
    {
                  "className": ".pizza",
                  "data": scoresData
    }
    ]
    };
        new xChart('line', graphData, '#personalScoresGraph');
    };

    DrawTop5Graph = function (scores) {
        var i;
        var scoresData = [{ "x": "Aucune données", "y": 0 }];

        for (i = 0; i < scores.length; i++) {
            scoresData[i] = {
                "x": (i + 1),// + "-" + scores[i].User.substring(0, 15),
                "y": scores[i].Score
    }

            ByClass('top5Username')[i].innerHTML = (i + 1) + " - " + scores[i].User;
            ByClass('top5Score')[i].innerHTML = scores[i].Score;
    };

        while (i < 5) {
            ByClass('top5Username')[i].innerHTML = "";
            ByClass('top5Score')[i].innerHTML = "";
            i++;
    }

        var graphData = {
            "xScale": "ordinal",
            "yScale": "linear",
            "main": [
    {
                  "className": ".pizza",
                  "data": scoresData
    }
    ]
    };

        new xChart('bar', graphData, '#top5Graph');
    };

    window.onload = function () {
        UpdateGraphs();
    };
</script>
