@model TPP63_MVC.Models.ExternalLoginConfirmationViewModel
@{
    ViewBag.Title = "Registrer";
}
<h2>@ViewBag.Title.</h2>
<h3>Associer votre compte @ViewBag.LoginProvider .</h3>

@using (Html.BeginForm("ExternalLoginConfirmation", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    @Html.AntiForgeryToken()

    <h4>Formulaire d'association</h4>
    
    
 @Html.HiddenFor(m => m.Avatar, new { id = "avatar123" })
    <hr />
    @Html.ValidationSummary("", new { @class = "text-danger" })
<div class="text-danger">@ViewBag.message</div>


    <p class="text-info">
        Vous éte authentifie avec <strong>@ViewBag.LoginProvider</strong>.
            SVP entre un nombre d'utilisateur, selectionne un Avatar pour ce site web et fait click dans le bouton Enregister.
            logging in.
    </p>
    <div class="form-group">
        @Html.LabelFor(m => m.Email, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
        </div>
    </div>


            <div class="col-md-8">
                <h4>Selectioner un Avatar dans la liste</h4>

                <style>
                    .Avatar:hover {
                        cursor: pointer;
                        color: red;
                    }
                </style>
                <div class="row">

                    <div id="imgcontainer" class="col-md-6"></div>
                    <div id="avatarList" class="col-md-6"></div>
                </div>
            </div>
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" class="btn btn-default" value="Enregistrer" />
        </div>
    </div>
}

@section Scripts {
    <script id="AvatarsTemplate" type="text/x-handlebars-template">
        {{#each}}

        <b class="Avatar" id="{{IdAvatar}}">{{Nom}}</b>
        <br />
        {{/each}}
    </script>

    <script id="imgTemplate" type="text/x-handlebars-template">
        {{#each}}
        <img src="../Images/Avatars/{{Source}}" id="{{Id}}" />
        <p><b>Description :</b>{{description}}</p>
        {{/each}}
    </script>

    <script type="text/javascript">
        templateAvatars = null;
        templateImg = null;
        $(function () {

             templateAvatars = Handlebars.compile($("#AvatarsTemplate").html());
             templateImg = Handlebars.compile($("#imgTemplate").html());
             $.getJSON("../Avatar/GetAvatars", null, function (data) {
                     var result = templateAvatars(data);
                     $("#avatarList").html(result);
                     $(".Avatar").click(function () {
                         var id = this.id;
                         $("#avatar123").val(id);

                         $.getJSON("../Avatar/GetImg", { IDAvatar: id }, function(data){
                             var result = templateImg(data);
                             $("#imgcontainer").html(result);
                         });
                     });
             });
            
             });
    </script>
    @Scripts.Render("~/bundles/jqueryval")
}
